*{

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

:root{

    background-color: white;
    font-size: 20px;

}

header{

    width: 1850px;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ############################################################## */
/* MENU RETRATIL */

.menu-btn{

    position: fixed;
    top: 20px;
    left: 1400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.bar{

    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;

}

.menu{

    position: fixed;
    top: 0;
    left: -300px;
    width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.711);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: left 0.3s ease;
}

.menu.show-menu{

    left: 0;

}

.menu li{

    margin-bottom: 10px;

}

.menu a{

    text-decoration: none;
    color: #333;
    font-size: 20px;

}

li{

    text-align: center;

}

/* MENU RETRATIL */
/* ############################################################## */
.textos{

    display: flex;
    position: relative;
    left:580px;
    top: 30px;

}

#link-titulo-header{

    position: relative;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:white;   
    right:400px;

}

.div-main{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titulo-apple-vision{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 18px;

}

#paragrafo-apple-vision{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

#image-apple-vision{

    position: relative;
    width: 1000px;
    bottom: 63px;
    right: 433px;

}

#section-info{

    width: 1000px;
    height: 800px;
    background-color: black;
    position: relative;
    bottom:40px;
    width: 1850px;
}